{%extends 'base.html' %}
{%block title%}{{article.name}}{% endblock%}

{%block content%}
	<h2>{{article.name}}</h2>
	<p>{{article.text}}</p>
	<em>{{article.date}}</em>
	<hr>



	<form  method ='POST' action="{% url 'articles:leave_comment' article.id %}">
		{% csrf_token %}
		<label for="your_comment">Your comment: </label>
		<input id="comment" type="text" name="comment" maxlength="200" required>

		<button type="submit">Leave a comment</button>
	</form>
	<hr>
	{%for i in comments%}
		<h2>{{i.text}}</h2>
	{% endfor %}
{%endblock%}
